In [1]:
!pip install catboost

Requirement already satisfied: catboost in c:\users\dell\anaconda3\envs\imgprocess\lib\site-packages (1.1.1)
Requirement already satisfied: graphviz in c:\users\dell\anaconda3\envs\imgprocess\lib\site-packages (from catboost) (0.20.1)
Requirement already satisfied: six in c:\users\dell\anaconda3\envs\imgprocess\lib\site-packages (from catboost) (1.16.0)
Requirement already satisfied: pandas>=0.24.0 in c:\users\dell\anaconda3\envs\imgprocess\lib\site-packages (from catboost) (1.3.5)
Requirement already satisfied: scipy in c:\users\dell\anaconda3\envs\imgprocess\lib\site-packages (from catboost) (1.7.3)
Requirement already satisfied: plotly in c:\users\dell\anaconda3\envs\imgprocess\lib\site-packages (from catboost) (5.14.1)
Requirement already satisfied: matplotlib in c:\users\dell\anaconda3\envs\imgprocess\lib\site-packages (from catboost) (3.5.3)
Requirement already satisfied: numpy>=1.16.0 in c:\users\dell\anaconda3\envs\imgprocess\lib\site-packages (from catboost) (1.18.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\dell\anaconda3\envs\imgprocess\lib\site-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\dell\anaconda3\envs\imgprocess\lib\site-packages (from pandas>=0.24.0->catboost) (2023.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\dell\anaconda3\envs\imgprocess\lib\site-packages (from matplotlib->catboost) (9.4.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\dell\anaconda3\envs\imgprocess\lib\site-packages (from matplotlib->catboost) (4.38.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\dell\anaconda3\envs\imgprocess\lib\site-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dell\anaconda3\envs\imgprocess\lib\site-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: cycler>=0.10 in c:\users\dell\anaconda3\envs\imgprocess\lib\site-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: packaging>=20.0 in c:\users\dell\anaconda3\envs\imgprocess\lib\site-packages (from matplotlib->catboost) (22.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\dell\anaconda3\envs\imgprocess\lib\site-packages (from plotly->catboost) (8.2.2)
Requirement already satisfied: typing-extensions in c:\users\dell\anaconda3\envs\imgprocess\lib\site-packages (from kiwisolver>=1.0.1->matplotlib->catboost) (4.4.0)

In [220]:
import boto3
import pandas as pd
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,ExtraTreesRegressor,AdaBoostRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error,r2_score
import numpy as np
from io import StringIO
from sklearn.model_selection import RandomizedSearchCV,GridSearchCV
import datetime

In [221]:
import warnings
warnings.filterwarnings('ignore')

In [222]:
s3_resource = boto3.client('s3', aws_access_key_id="AKIASPLFXLBWTP6LSWCQ",
                               aws_secret_access_key="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")
            
obj = s3_resource.get_object(Bucket='car-price-bucket', Key="car_price_prediction.csv")

data = obj['Body'].read().decode('utf-8')

data = StringIO(data)

data = pd.read_csv(data)

In [223]:
data.drop(["ID","Levy",'Drive wheels', 'Doors', 'Wheel', 'Color',"Model",'Airbags'],axis=1,inplace=True)

In [224]:
data["Mileage"] = data["Mileage"].apply(lambda x: x.replace("km",""))
data["Has_Turbo"] = np.where(data["Mileage"].str.contains("Turbo"),"Yes","No")
data["Engine volume"] = data["Engine volume"].apply(lambda x: x.replace("Turbo",""))
data["Mileage"] = data["Mileage"].astype(int)
data["Engine volume"] = data["Engine volume"].astype(float)

In [225]:
data["Years_used"] = datetime.date.today().year - data["Prod. year"]

In [226]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price             19237 non-null  int64
 1   Manufacturer      19237 non-null  object
 2   Prod. year        19237 non-null  int64
 3   Category          19237 non-null  object
 4   Leather interior  19237 non-null  object
 5   Fuel type         19237 non-null  object
 6   Engine volume     19237 non-null  float64
 7   Mileage           19237 non-null  int32
 8   Cylinders         19237 non-null  float64
 9   Gear box type     19237 non-null  object
 10  Has_Turbo         19237 non-null  object
 11  Years_used        19237 non-null  int64
dtypes: float64(2), int32(1), int64(3), object(6)
memory usage: 1.7+ MB

In [227]:
data

,Price,Manufacturer,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Has_Turbo,Years_used
0,13328,LEXUS,2010,Jeep,Yes,Hybrid,3.5,186005,6.0,Automatic,No,13
1,16621,CHEVROLET,2011,Jeep,No,Petrol,3.0,192000,6.0,Tiptronic,No,12
2,8467,HONDA,2006,Hatchback,No,Petrol,1.3,200000,4.0,Variator,No,17
3,3607,FORD,2011,Jeep,Yes,Hybrid,2.5,168966,4.0,Automatic,No,12
4,11726,HONDA,2014,Hatchback,Yes,Petrol,1.3,91901,4.0,Automatic,No,9
...,...,...,...,...,...,...,...,...,...,...,...,...
19232,8467,MERCEDES-BENZ,1999,Coupe,Yes,CNG,2.0,300000,4.0,Manual,No,24
19233,15681,HYUNDAI,2011,Sedan,Yes,Petrol,2.4,161600,4.0,Tiptronic,No,12
19234,26108,HYUNDAI,2010,Jeep,Yes,Diesel,2.0,116365,4.0,Automatic,No,13
19235,5331,CHEVROLET,2007,Jeep,Yes,Diesel,2.0,51258,4.0,Automatic,No,16
19236,470,HYUNDAI,2012,Sedan,Yes,Hybrid,2.4,186923,4.0,Automatic,No,11

In [228]:
data.columns = ['Price','Manufacturer','Prod_year','Category','Leather_interior','Fuel_type','Engine_volume','Mileage','Cylinders','Gear_box_type','Has_Turbo','Years_used']

In [229]:
data["Manufacturer"].value_counts()

HYUNDAI          3769
TOYOTA           3662
MERCEDES-BENZ    2076
FORD             1111
CHEVROLET        1069
                 ...
TESLA               1
PONTIAC             1
SATURN              1
ASTON MARTIN        1
GREATWALL           1
Name: Manufacturer, Length: 65, dtype: int64

In [230]:
delete_rows = data[data["Manufacturer"].isin(data["Manufacturer"].value_counts().tail(24).index.to_list())].index.to_list()

In [231]:
data.drop(delete_rows,inplace=True)

In [232]:
data.drop(data[data["Manufacturer"]=="UAZ"].index,inplace=True)

In [233]:
data = data.reset_index(drop=True)

In [234]:
X = data.drop("Price",axis=1)
y = data["Price"]

In [235]:
categorical_cols = X.select_dtypes(include='object').columns
numerical_cols = X.select_dtypes(exclude='object').columns
outlier_cols = ["Engine_volume","Mileage"]
categorical_cols,numerical_cols,outlier_cols

(Index(['Manufacturer', 'Category', 'Leather_interior', 'Fuel_type',
        'Gear_box_type', 'Has_Turbo'],
       dtype='object'),
 Index(['Prod_year', 'Engine_volume', 'Mileage', 'Cylinders', 'Years_used'], dtype='object'),
 ['Engine_volume', 'Mileage'])

In [236]:
from sklearn.base import BaseEstimator,TransformerMixin
class OutlierTreatment(BaseEstimator,TransformerMixin):
    
    def __init__(self):
        self.lower_bound = []
        self.upper_bound = []

    def outlier_ub_lb(self,X):
        q1 = X.quantile(0.25)
        q3 = X.quantile(0.75)
        iqr = q3-q1
        self.lower_bound.append(q1 - (1.5*iqr))
        self.upper_bound.append(q3 + (1.5*iqr))

    

    def outlier_data_transformer(self,X):
        X.apply(self.outlier_ub_lb)
        for i in range(X.shape[1]):
            copy_data = X.iloc[:,i].copy()
            copy_data[(copy_data < self.lower_bound[i]) & (copy_data > self.upper_bound[i])] = np.nan
            X.iloc[:,i]=copy_data
        return X

               
    def fit_transform(self,X,y=None):
        
        try:
            data_transformed = self.outlier_data_transformer(X)
            return data_transformed
        except Exception as e:
            raise e
        
    def transform(self,X,y=None):
        try:
            for i in range(X.shape[1]):
                copy_data = X.iloc[:,i].copy()
                copy_data[(copy_data < self.lower_bound[i]) & (copy_data > self.upper_bound[i])] = np.nan
                X.iloc[:,i]=copy_data    
            return X
        except Exception as e:
            raise e
        
    def fit(self,X,y=None):
        try:
            self.outlier_data_transformer(X)
            return self
        except Exception as e:
            raise e

In [237]:
numeric_cols = ["Prod_year","Engine_volume","Mileage","Cylinders","Years_used"]
outlier_cols = ["Engine_volume","Mileage"]
categorical_cols = ["Manufacturer","Category","Leather_interior","Fuel_type","Gear_box_type","Has_Turbo"]

from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder,StandardScaler

# Numerical Pipeline
num_pipeline = Pipeline(
                 steps=[
                ("Standard scaler",StandardScaler())
                 ]   
                )
          
categorical_pipeline = Pipeline(
                steps=[
                ("OnehotEncoder",OneHotEncoder(sparse=False,handle_unknown='ignore')),
                ]
            )

numerical_oulier_pipeline = Pipeline(
                steps=[
                ("Onlier removal",OutlierTreatment()),
                ("Simple Imputer",SimpleImputer(strategy="median"))
                ]
            )
    
preprocessor1 = ColumnTransformer(
                [
                ('Oulier removal Pipeline',numerical_oulier_pipeline,outlier_cols),
                ('num_pipeline',num_pipeline,numerical_cols),
                ('cat_pipeline',categorical_pipeline,categorical_cols)
                ]
            )

In [238]:
# X = preprocessor1.fit_transform(X)

In [239]:
X = preprocessor1.fit_transform(X)

In [240]:
X.shape

(19159, 72)

In [255]:
 models = {
#       "Linear Regression": LinearRegression(),           
#      "Random Forest": RandomForestRegressor(),
#                 "Decision Tree": DecisionTreeRegressor(),
# #                  "Extra Tree": ExtraTreesRegressor(),
#                 "XGB Regressor": XGBRegressor(),
                
#                  "Ridge": Ridge(),
#                  "Lasso": Lasso(),
                 "KNNR": KNeighborsRegressor()
#                  "AdaBoost Regressor": AdaBoostRegressor()
            }

In [256]:
parameters = {
       
#      "Linear Regression": {},
#      "Random Forest": {
# #          'bootstrap': [True, False],
# #           'max_depth': [10, 20, 30],
# #           'max_features': ['auto', 'sqrt'],
#           'min_samples_split': [2, 5, 10],
#           'n_estimators': [200, 400, 600]
#              },
#     "Decision Tree": {
# #          "splitter":["best","random"],
#             "max_depth" : [1,3,9],
#         'min_samples_split': [0.2,0.3,0.5]
# #             "max_features":["auto","log2","sqrt",None],
# #             "max_leaf_nodes":[10,20,50]
#      },
#      "XGB Regressor":{
#          'learning_rate':[0.1,0.01,0.001],
# #                  'max_depth':[3,5,6],
#                  'n_estimators': [4,6,10] 
#      },
#      "Lasso":{
#          "alpha": list(np.arange(0.0, 1.0, 0.1))
#      },
#      "Ridge":{
#          "alpha": list(np.arange(0.0, 1.0, 0.1))
#      },
     "KNNR":{
                 'n_neighbors': list(range(1,15,2))
                }

}

In [251]:
def evaluation(y_true,y_pred):
    rmse = np.sqrt(mean_squared_error(y_true,y_pred))
    mse = mean_squared_error(y_true,y_pred)
    r2 = r2_score(y_true,y_pred)
    return rmse,mse,r2

In [252]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((15327, 72), (3832, 72), (15327,), (3832,))

In [257]:

RMSE_list = []
MSE_list = []
R2_list = []
for i in models.keys():
    model_obj = models[i]
    print(i)
    parameter = parameters[i]
    random_grid_model = GridSearchCV(model_obj , parameter, scoring='r2', cv =10, n_jobs=-1)
    random_grid_model.fit(X_train,y_train)
    model_obj.set_params(**random_grid_model.best_params_)
    model_obj.fit(X_train,y_train)
    y_train_pred = model_obj.predict(X_train)
    y_test_pred = model_obj.predict(X_test)
    train_RSME,train_MSE,train_R2 = evaluation(y_train,y_train_pred)
    test_RMSE,test_MSE,test_R2 = evaluation(y_test,y_test_pred)
    RMSE_list.append(test_RMSE)
    MSE_list.append(test_MSE)
    R2_list.append(test_R2)

KNNR

In [254]:
R2_list

[-0.5083642576145888,
 -54.12670533414525,
 -0.40300261616198685,
 -0.8401411264702552,
 -0.5021045610277117,
 -0.506112920304399,
 -0.25698859674070906]